  body {
    background: #c0e0e5;
    min-height: 520px;
  }
  .box {
    width: 300px;
    height: 457px;
    background: #37474F;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 12%;
    box-shadow: 0 30px 30px -6px #455A64;
    overflow: hidden;
  }
  .result {
    float: right;
    padding: 14px;
    margin-top: 20px;
    font-size: 3em;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
  }
  
  .box .output {
    width: 300px;
    height: 100px;
    background: #3b4e56;
    margin-top: 13px;
    overflow: hidden;
  }
  .btn-wrap {
    margin: 4px;
    margin-top: 3px;
  }
  .button {
    width: 70px;
    height: 65px;
    background: #3b4e56;
    border: 2px solid #37474F;
    color: #fff;
    margin-top: 2px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }
  @media (max-width: 600px){
    .button {
      min-width: 67px;
      margin: 1px auto;
    }
  }
  
  
  